@font-face {
  font-family: 'icons';
  src:  url('../fonts/icomoon.eot?f288k1');
  src:  url('../fonts/icomoon.eot?f288k1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f288k1') format('truetype'),
    url('../fonts/icomoon.woff?f288k1') format('woff'),
    url('../fonts/icomoon.svg?f288k1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  width: 100%;
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "\e900";
}
.icon-Dribble:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkendin:before {
  content: "\e903";
}
